<ion-header>
  <ion-toolbar>
    <ion-title>Notifications </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="accueil"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="crd"> 
      <ion-card-content>
       Abdoulaye Sy viens de partager une idée dans le ministere de l'Agriculture
      </ion-card-content>
  </ion-card>
  <ion-card class="crd"> 
    <ion-card-content>
     Abass Maiga viens de partager une idée dans le ministere de l'enseignement Superieur
    </ion-card-content>
</ion-card>
<ion-card class="crd"> 
  <ion-card-content>
  Youssouf Djiré viens de partager une idée dans le ministere de l'éducation national
  </ion-card-content>
</ion-card>


</ion-content>
