<ion-header>
  <ion-toolbar>
    <ion-title>Notifications </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="accueil"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="" style="width: 98%; margin-left: auto; margin-right: auto;">
  <ion-card class="crd in">
    <ion-card-content>
      Abdoulaye Sy viens de partager une idée dans le ministere de l'Agriculture
    </ion-card-content>
  </ion-card>
  <ion-card class="crd in">
    <ion-card-content>
      Abass Maiga viens de partager une idée dans le ministere de l'enseignement
      Superieur
    </ion-card-content>
  </ion-card>
  <ion-card class="crd in">
    <ion-card-content>
      Youssouf Djiré viens de partager une idée dans le ministere de l'éducation
      national
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
