<ion-header>
  <ion-toolbar>
    <ion-title>inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <img src="../../assets/images/A-removebg-preview.png" alt="logo">
        </div>
        <h2>Inscription</h2>
       </div>
       <div class="col-12">
        <div class="form-group">
          <input type="text" class="form-control" id="" placeholder="Nom d'utilisateur" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="" placeholder="Numero" required>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="" placeholder="Votre email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="" placeholder="Password" required>
        </div>

        <p>En continuant, vous acceptez les Conditions 
          générales d’utilisation de Akilina. <a href="">Lire notre 
          Politique de confidentialité</a>.</p>

        <div class="text-center">
          <button type="submit" value="" class="inscription" routerLink="/connexion">Inscription</button>
        </div>
        <p class="ins">Vous avez un compte? <span style="color: #FFFF;"> <a routerLink="/connexion">Connectez-vous</a> </span></p>
       </div>
      </div>
    </div>
</ion-content>
