h2 {
    text-align: center;
    margin-bottom: 24px;
}
.form-group {
    margin-bottom: 23px;
}
.inscription{
    width: 60%;
    background-color: #24A8F2;
    border-radius: 11PX;
    color: white; 
    height: 35px; 
    margin-bottom: 15px;
}
img {
    margin-top: 22px;
}
p.ins {
    margin-bottom: 20px;
}