

img {
    width: 70%;
}
.form-group{
    margin-bottom: 6px !important;
}
.inscription{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #24A8F2;
    color: white; 
    border-radius: 11PX;
    height: 35px; 
}

p.ins {
    margin-top: 8px;
}
label {
    display: inline-block;
    font-size: 11px;
}