img {
  width: 70%;
}
.form-group {
  margin-bottom: 6px !important;
}
.inscription {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: #24a8f2;
  color: white;
  border-radius: 11px;
  height: 35px;
}

input{
  outline: none;
}

p.ins {
  margin-top: 8px;
}
label {
  display: inline-block;
  font-size: 11px;
}
.txtAuth {
  color: #171c25;
  font-size: 0.6rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.iconss {
  text-align: center;
  margin-bottom: 10px;
}
