<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  
    <div class="text-center ">
      <img src="../../assets/images/avatar.png" alt="profil" class="prof">
    </div>
    <div class="text-center">
      <h3><b>Abdoulaye Sy</b></h3>
    </div>

    <div class="text-center">
      <button  class="information" routerLink="/detailsprofil">Information personnel</button>
    </div>
    
    <div class="text-center">
      <button value="Deconnexion" class="deconnexion" (click)="logout()">Déconnexion</button>
    </div>
 

  </div>
</ion-content>
