.lg{
    position:20px;
    width: 60px;
    height: 55px;
    left: 17px;
    top: 40px;
    margin-top: 15px;
    }

img.prof {
    margin-top: 14px;
}

.prof{
width: 139px;
height: 128px;
left: calc(50% - 139px/2 + 0.5px);
top: 142px;
border-radius: 150px;
}
.deconnexion{
    width: 66%;
    background-color: #24A8F2;
    border-radius: 11PX;
    color: white; 
    height: 35px; 
    margin-bottom: 15px;
}
.information{
    width: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 11PX;
    color: black; 
    height: 51px; 
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px 1px;

}
.text-center {
    margin-top: 21px;
}

