<ion-header>
  <ion-toolbar style="--background: #24a8f2">
    <ion-title size="" style="color: white; text-align: center; font-size: large;"
      >Profil</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <section class="profile">
      <div class="p-content">
        <div class="image">
          <img src="{{imageuser}}" alt="Profile" />
          <label for="imageuser"
            ><ion-badge><ion-icon name="camera"></ion-icon></ion-badge
          ></label>
          <!-- <label for="imageuser"><button><ion-badge><i class="bi bi-save" style="color:green"></i></ion-badge></button></label> -->
          <input
            (change)="recuperationImageUser($event)"
            id="imageuser"
            type="file"
            name="imageuser"
            style="visibility: hidden"
          />
        </div>
        <div class="names">
          <div class="name">{{username}}</div>
        </div>
      </div>
    </section>
    <section class="settings">
      <div class="setting">
        <div class="btnn">
          <ion-button fill="clear" routerLink="/password-update/{{id_user}}"
            >Modifier mot de passe</ion-button
          >
        </div>
        <div class="s-title">
          <h5 style="text-align: center; font-weight: 600">
            Information du compte
          </h5>
        </div>
        <div class="s-content">
          <div class="set">
            <span class="label">Nom d'utilisateur</span>
            <span class="content">{{username}}</span>
          </div>
          <div class="set">
            <span class="label">Téléphone</span>
            <span class="content">{{numero}}</span>
          </div>
          <div class="set">
            <span class="label">Adresse</span>
            <span class="content">{{addresse}}</span>
          </div>
          <div class="set">
            <span class="label">Email</span>
            <span class="content">{{email}}</span>
          </div>
        </div>
        <div class="btnn">
          <ion-button fill="clear" (click)="openModal()"
            >Modifier Compte</ion-button
          >
        </div>
      </div>
      <div class="setting app">
        <div class="s-title">
          <h4 style="font-size: large">Parametre de l'application</h4>
        </div>
        <div class="s-content">
          <div class="set">
            <span class="label">Conditions d'utilisation</span>
          </div>
          <div class="set">
            <span class="label">Politique de confidentialité</span>
          </div>
        </div>
        <div class="wrapper">
          <div
            class="ion-activatable ripple-parent custom-parent"
            (click)="logout()"
          >
            Déconnexion
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </div>
      </div>
    </section>
  </div>
</ion-content>
