.social-cards ion-col {
  padding: 0;
}

.tt {
  margin-top: 7px;
  margin-left: -65px;
  position: absolute;
}
h2 {
  margin-left: 5%;
  margin-top: -3%;
}

button {
  background: none;
}
ul {
  z-index: 120;
}

ion-buttons.buttons-last-slot.sc-ion-buttons-md-h.sc-ion-buttons-md-s.md.hydrated {
  margin-left: 26px;
}
.sc-ion-buttons-ios-h {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 99;
  margin-left: 10px;
}
.nav {
  position: fixed;
}

.imgae {
  width: 40px !important;
  height: 40px;
}

.textComment {
  font-size: 10px;
  text-align: justify;
}
.iconComment {
  font-size: 12px;
}
.card-header {
  height: 55px !important;
  background-color: white;
}

.card-footer {
  height: 50px !important;
  background-color: white;
}

.mm {
  margin-left: -38%;
  margin-top: 3px;
}

.mod {
  margin-top: 60%;
}

.butna {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f22b24;
  color: white;
  border-radius: 11px;
  height: 35px;
}

.butn {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #24a8f2;
  color: white;
  border-radius: 11px;
  height: 35px;
}
