.butna {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f22b24;
  color: white;
  border-radius: 11px;
  height: 35px;
}

.mod {
  margin-top: 60%;
}

.butn {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #24a8f2;
  color: white;
  border-radius: 11px;
  height: 35px;
}

.mm {
  margin-left: -33%;
  margin-top: 2%;
}

.textComment {
  font-size: 98%;
}
.iconComment {
  font-size: 18px;
}
.card-header {
  height: 55% !important;
  background-color: white;
}

.card-footer {
  height: 55% !important;
  background-color: white;
}
