<ion-header>
  <ion-toolbar>
    <ion-title>Commentaire </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="ministere"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
      <ion-col>
        <ion-card class="crd" >
          <ion-card-header>
            <ion-card-content style="text-align: center;"> Contenu de l'idée </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <div class="card" >
      <div class="tout">
        <div class="first">
          <ion-avatar slot="start">
            <img src="../../assets/images/avatar.png" />
          </ion-avatar>
        </div>
        
        <div class="md">
          <h3>Abdoulaye Sy</h3>
          
          <p>zertyuioqsdfghuijopezrtyuizstrdhuoizretiuotu aezrtyuiopqsdfghuijoklaezrtyuiopzretoiupretu
              aezrtyuiop^$qsdfghjklmwxcvbn,;azertyuio </p>
          
        </div>
      <div class="pp">
        <div class="dropdown">
          <i type="button" data-bs-toggle="dropdown" aria-expanded="false" class="fa-solid fa-ellipsis"  slot="start" slot="start"></i>
          
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Modifier <i class="bi bi-pencil" style="color: rgb(98, 163, 85);"></i> </a></li>
            <li><a class="dropdown-item" href="#">Supprimer <i class="bi bi-trash3" style="color: red;"></i></a></li>
          </ul>
        </div>
      </div>
      </div>
    </div>
   
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-input placeholder="Votre message"></ion-input>
      <ion-buttons slot="end">
        <ion-button> Envoyer </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
