.rounded-circle{
    width: 35px;
    height: 35px;
}
h6 {
    margin-top: -13px;
}
.d-flex.flex-row.align-items-start {
    margin-bottom: 23px;
}
button.btn.btn-primary.btn-sm.shadow-none {
    margin-left: 7px;
}