<ion-header>
  <ion-toolbar style="--background: #24a8f2">
    <ion-title size="" style="color: white">Vocal</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        style="color: white"
        (click)="goBack()"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="sticky-top">
  <ion-item lines="full">
    <ion-button slot="start" size="small" fill="clear" (click)="goBack()"
      >Idee Ecrit</ion-button
    >
    <ion-button slot="end" size="small" fill="clear">Idee vocal</ion-button>
  </ion-item>
</div>

<ion-content>
  <div>
    <ion-row>
      <ion-col>
        <ion-card class="">
          <ion-card-header>
            <img class="igm" src="{{image}}" srcset="" />
            <ion-card-title style="text-align: center; font-weight: bold"
              >{{libelle}}</ion-card-title
            >
            <ion-card-content style="text-align: center">
              {{description}}
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-card class="crd" *ngFor="let v of voc">
      <div class="tout">
        <div class="first">
          <ion-avatar slot="start">
            <img src="{{v.user.imageuser}}" class="imgae" />
          </ion-avatar>
          <ion-icon
            *ngIf="v.user.id_user == id_user"
            style="
              position: relative;
              top: -50%;
              left: 210px;
              font-size: 2em !important;
              color: red;
            "
            name="trash-outline"
            slot="icon-only"
            (click)="supprimer(v.id)"
          ></ion-icon>
        </div>

        <h3>{{v.user.username}}</h3>

        <audio controls src="{{v.fileName}}" style="margin-top: -50%">
          <a href="{{v.fileName}}"> Download audio </a>
        </audio>
        <ion-button
          slot="end"
          (click)="deleteRecording(v.name)"
          fill="clear"
          color="danger"
        >
        </ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row
      class="ion-align-items-center"
      style="margin-right: 20px; margin-left: 20px"
    >
      <ion-col size="8">
        <span *ngIf="!recording" style="font-size: 0.8em">
          Appuyez et maintenez pour enregistrer
        </span>
        <span *ngIf="recording"> {{durationDisplay}} </span>
      </ion-col>
      <ion-col size="4" fill="clear" #recordbtn style="display: flex">
        <ion-button style="font-size: 0.7em">
          <ion-icon name="mic-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button (click)="ajouter()" style="font-size: 0.7em">
          <i class="bi bi-send"></i>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
