<ion-header>
  <ion-toolbar style="--background: #24a8f2">
    <ion-title style="color: white; font-size: large;">Vocal</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        style="color: white; font-size: large;"
        defaultHref="ministere"
        (click)="goBack()"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="sticky-top">
  <ion-item lines="full">
    <ion-button slot="start" size="large" fill="clear" style="font-size: large;" (click)="goBack()"
      >Idee Ecrit</ion-button
    >
    <ion-button slot="end" size="large" fill="clear" style="font-size: large;">Idee vocal</ion-button>
  </ion-item>
</div>

<ion-content>
  <div class="con">
    <ion-row>
      <ion-col>
        <ion-card class="crd cd">
          <ion-card-header>
            <div class="min" style="text-align: center;">
            <img class="min1" src="{{image}}" srcset="" style="margin-bottom: 1%;"/>
            <ion-card-title style="text-align: center; "
              >{{libelle}}</ion-card-title
            >
            <ion-card-content style="text-align: center">
              {{description}}
            </ion-card-content>
            </div>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-card class="crd" *ngFor="let v of voc">
      <div class="tout">
        <div class="first">
          <ion-avatar slot="start">
            <img src="{{v.user.imageuser}}" class="imgae" />
          </ion-avatar>
          <div style="margin-bottom: 7vh;">

            <ion-icon
              *ngIf="v.user.id_user == id_user"
              style="
                position: absolute;
              top:2%;
              margin-left: 3.5%;
                left: 85%;
                font-size: 2em !important;
                color: red;
              "
              name="trash-outline"
              slot="icon-only"
              (click)="supprimer(v.id)"
            ></ion-icon>
          </div>
        </div>
        <div class="mm" style="margin-top: 3%; margin-left: 6%;">
          <ion-label>
            <h3 style="color: black; font-size: large;">{{v.user.username}}</h3>
            <p  style="font-size: 98%;">{{v.dateCreation | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
          </ion-label>
        </div>
        
        <audio controls src="{{v.fileName}}" style="margin-top: -30%; margin-bottom: 35px; margin-left: 5%!important; margin-right: auto!important; width: 580%;">
          <a href="{{v.fileName}}"> Download audio </a>
        </audio>
        <ion-button
          slot="end"
          (click)="deleteRecording(v.name)"
          fill="clear"
          color="danger"
        >
        </ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row
      class="ion-align-items-center"
      style="margin-right: 20px; margin-left: 20px"
    >
      <ion-col size="9.5">
        <span *ngIf="!recording" style="font-size: 0.8em">
          Appuyez et maintenez pour enregistrer puis cliquez sur envoyer
        </span>
        <span *ngIf="recording"> {{durationDisplay}} </span>
      </ion-col>
     
      <ion-col size="2.5" fill="clear" #recordbtn style="display: flex">
        <ion-button style="font-size: 0.7em">
          <ion-icon name="mic-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button (click)="ajouter()" style="font-size: 0.7em">
          <i class="bi bi-send"></i>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>
