<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Mot de passe oublié</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: white;">
  <section>
    <p class="mm" style="margin-top: 8%; font-weight: 600; font-size: small;">Obtenir un code pour se connecter</p>
  </section>

<ion-card>
  <div class="pp" style="border-bottom: 1px;">
  <ion-list lines="full">
   
    <ion-item>
      
      <ion-avatar slot="start">
        <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h3 style="color: black; font-weight: 600;"> Abass Maiga </h3>
      </ion-label>
   
    </ion-item>
 
  </ion-list>
</div>
  <ion-list>
    <ion-item>
      <ion-checkbox slot="end"></ion-checkbox>
      <ion-label style="font-size: small;">Envoyer le code par e-mail</ion-label>
    </ion-item>
  </ion-list>

</ion-card>

<br>
<ion-button style="width: 99%; height: 30px;">Continuer</ion-button>

</ion-content>
