<ion-header>
  <ion-toolbar>
    <ion-title>Details Profil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profil"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  
    <div class="text-center ">
      <img src="../../assets/images/avatar.png" alt="profil" class="prof">
    </div>
    <div class="text-center">
      <h3><b>Abdoulaye Sy</b></h3>
    </div>
    <div class="row">
      <div class="text-centre">
        <div class="col-12">
          <p><b>Username:</b> Abdoulaye Sy </p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="text-centre">
        <div class="col-12">
          <p><b>Adresse:</b> Bamako, Baco djicoroni ACI Golf </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-centre">
        <div class="col-12">
          <p><b>E-mail:</b> doulsy2021@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-centre">
        <div class="col-12">
          <p><b>Téléphone:</b> 0022394218444 </p>
        </div>
      </div>
    </div>
    

    <!-- <h1 class="py-1"></h1>
    <div class="row">
    
      <div col-6 class="bt">
        <button class="btn" style="background-color:#146170 ;" routerLink="/tabs/modifier-user">Modifier <ion-icon name="options-outline"></ion-icon></button>
        <h1 class="py-1"></h1>
      </div>
      </div> -->
      <div class="btn-center">
        <button class="btn modifier" routerLink="/modifierprofil">Modifier </button>
      </div>
  </div>
</ion-content>
