<ion-header>
  <ion-toolbar  style="--background:#24A8F2;">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button defaultHref="profil"></ion-back-button>
    </ion-buttons>
   
    <ion-title size="" style="color: white;" >Changer de mot de passe</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content style="background-color: white;">
  <div class="mm" style="margin-top: 15%;">
  <div class="inputWithIcon">
  <input type="text" placeholder="Mot de passe actuel">
  <i class="bi bi-shield-lock"></i></div>
<div class="inputWithIcon">
  <input type="text" placeholder="Nouveau mot de passe">
  <i class="bi bi-key"></i></div>
<div class="inputWithIcon">
  <input type="text" placeholder="Retaper le nouveau mot de passe">
  <i class="bi bi-key"></i></div> 
</div>

<br>
<ion-button style="width: 99%;">Mettre à jour le mot de passe</ion-button>
<br>
<ion-button color="medium" style="width: 99%;">Annuler</ion-button>
<br>
<p class="ins" style="text-align: center; margin-top: 2%;">
  <span style="color: #ffff">
    <a routerLink="/password-forget">Mot de Passe oublié ?</a>
  </span>
</p>
</ion-content>
