input[type="password"] {
  width: 99%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 4px 0;
  outline: none;
  padding: 2%;
  box-sizing: border-box;
  transition: 0.3s;
  margin-left: 1%;
}

input[type="password"]:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.inputWithIcon input[type="password"] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 31px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input[type="password"]:focus + i {
  color: dodgerblue;
}
