input[type="password"] {
  width: 99%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 4px 0;
  outline: none;
  padding: 2%;
  box-sizing: border-box;
  transition: 0.3s;
  margin-left: 1%;
}

.inputWithIcon input[type="password"] {
  padding-left: 6%;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 26%;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.ii{
  margin-top: -6%;
}

.ii1{
margin-top: 3%;
}
.ii2{
  margin-top: 3%;
  }

input{
  outline: none;
}