
.social-cards ion-col {
    padding: 0;
  }

  .tt{
    margin-top: 7px;
    margin-left: -65px;
    position: absolute;

}
h2 {
    margin-left: 5%;
    margin-top: -3%;
}

button {
    background: none;
}
ul{
    z-index: 120;
 }

 ion-buttons.buttons-last-slot.sc-ion-buttons-md-h.sc-ion-buttons-md-s.md.hydrated {
    margin-left: 26px;
}
.nav{
    position: fixed;
}

.imgae{
    width: 40px !important;
    height: 40px;
}

.textComment{
    font-size: 10px;
    text-align: justify;
}
.iconComment{
    font-size: 12px;
}
.card-header{
    height: 55px !important;
    background-color: white;
}

.card-footer{
    height: 50px !important;
    background-color: white;
}

// .sc-ion-label-md-s h3, .sc-ion-label-md-s h4, .sc-ion-label-md-s h5, .sc-ion-label-md-s h6 {
//     margin-left: -49px;
//     margin-right: 0;
//     margin-top: -1px;
//     margin-bottom: 2px;
//     font-size: 19px;
//     font-weight: 600;
//     line-height: normal;
// }

.mm {
    margin-left: -42%;
}