<ion-header>
  <ion-toolbar style="--background: #24a8f2">
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        style="color: white"
        defaultHref="accueil"
        (click)="goBack()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title size="" style="color: white">Ministere</ion-title>
  </ion-toolbar>
</ion-header>
<div class="sticky-top">
  <ion-item lines="full">
    <ion-button slot="start" size="small" fill="clear"> Idee Ecrit </ion-button>
    <ion-button slot="end" size="small" fill="clear"
      ><a href="/vocal/{{this.idminister}}">Idee Vocal</a></ion-button
    >
  </ion-item>
</div>
<ion-content>
  <div class="con">
    <ion-row>
      <ion-col>
        <ion-card class="crd">
          <ion-card-header>
            <div class="igm">
              <img src="{{image}}" srcset="" />
            </div>
            <ion-card-title style="text-align: center; font-weight: bold"
              >{{libelle}}</ion-card-title
            >
            <ion-card-content style="text-align: center">
              {{description}}
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <div class="" *ngFor="let ide of ide, let i=index">
      <div class="card mt-2">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <div>
              <ion-avatar slot="start">
                <img src="{{ide.user.imageuser}}" class="imgae" />
              </ion-avatar>
            </div>
            <div class="mm">
              <ion-label>
                <h3>{{ide.user.username}}</h3>
                <p>{{ide.date | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
              </ion-label>
            </div>
            <div>
              <div class="dropdown" *ngIf="ide.user.id_user == id_user">
                <i
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  class="fa-solid fa-ellipsis"
                  slot="start"
                  slot="start"
                ></i>

                <ul class="dropdown-menu">
                  <li>
                    <button
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      (click)="lireidee(ide.id_idee)"
                    >
                      Modifier
                      <i
                        class="bi bi-pencil"
                        style="color: rgb(98, 163, 85)"
                      ></i>
                    </button>
                  </li>
                  <li>
                    <button
                      class="dropdown-item"
                      (click)="supprimer(ide.id_idee)"
                      href="#"
                    >
                      Supprimer <i class="bi bi-trash3" style="color: red"></i>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{ide.contenu_idee}}</p>
        </div>
        <div class="card-footer text-muted">
          <div class="d-flex justify-content-between">
            <div>
              <button>
                   <a
                  (click)="liker(ide, userlike)"
                  [ngClass]="{'bleu': ide.isclick , 'noir': !ide.isclick }"
                  class="card-link"
                  style="cursor: pointer"
                  ><i class="bi bi-hand-thumbs-up-fill iconComment"></i
                ></a>
                <div class="textComment">{{ide.likes}} J'aime
           
                </div>
              </button>
            </div>
            <!-- <div>
              <button>
                <i class="bi bi-hand-thumbs-down-fill iconComment"></i>
                <div class="textComment">J'aime pas</div>
              </button>
            </div> -->
            <div>
              <button>
                <a routerLink="/commentaire/{{ide.id_idee}}"
                  ><i class="bi bi-chat-left-dots-fill iconComment"></i
                ></a>
                <div class="textComment">2 Commentaire</div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-input placeholder="Votre message" [(ngModel)]="cont"></ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="onSubmit()">
          <i class="bi bi-send"></i>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog mod">
    <div class="modal-content">
      <form
        #update="ngForm"
        (ngSubmit)="modifierPopup(id,update.value.contenu)"
      >
        <div class="form-group">
          <input
            ngModel="{{ideee}}"
            class="form-control"
            name="contenu"
            id="contenu"
          />
        </div>
        <div class="modal-footer">
          <button type="button" class="butna" data-bs-dismiss="modal">
            Annuler
          </button>
          <button type="submit" class="butn">Actualiser</button>
        </div>
      </form>
    </div>
  </div>
</div>
