
.cc img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
.cc{
  height: 400px;
}
ion-card-subtitle {
  text-align: center;
  color: black;
}

.min{
width: 98% !important;

}

.min1{
  height: 100px !important;
}


.tit {
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
  font-weight: 900;
}
.row {
  margin-top: 3%;
}

