<ion-header>
  <ion-toolbar style="--background: #24a8f2">
    <ion-title style="color: white; text-align: center; font-size: large;"
      >Accueil</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: white">
  <div class="" style="width: 98%; margin-left: auto; margin-right: auto">
    <div class="row">
      <div class="tit">Bienvenue sur la plateforme Akilina</div>
    </div>

    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner cc">
        <div class="carousel-item active">
          <img src="../../assets/images/pb.png" class="" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../../assets/images/pubb.jpg" class="" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../../assets/images/pubbb.png" class="" alt="..." />
        </div>
      </div>
    </div>

    <div class="row">
      <p class="text" style=" margin-top: 4%">
        L'<b>application Malienw Akilina</b> est une plateforme de partage
        d'idée, permettant aux Maliens de s'exprimer de manière très respectueux
        et de façon convenable pour mieux construire le Mali.
        <br />
      </p>
    </div>
    <div class="button" style="text-align: right;">
      <i class="bi bi-volume-up-fill" style="font-size: x-large;"></i>
    </div>

    <p class="m" style="text-align: center">
      <b>Partager vos idées en fonction d'un ministère</b>
    </p>

    <div class="row sea">
      <ion-searchbar
        placeholder="Rechercher..."
        name="searchText"
        [(ngModel)]="searchText"
      ></ion-searchbar>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col
          size="12"
          *ngFor="let minist of ministere | paginate:{itemsPerPage: 4, currentPage:p} | filter:searchText;"
        >
          <ion-card
            class="crd cd"
            routerLink="/ministere/{{minist.id_ministere}}"
          >
            <ion-card-header>
              <div class="min" style="text-align: center;">
              <img class="min1" src="{{minist.image}}" srcset="" style="margin-bottom: 3%;"/>
              <ion-card-subtitle style="margin-top: 3px; font: 1em sans-serif;">{{minist.libelle}}</ion-card-subtitle>
            </div>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="pag" style="font-size: 100%;">
      <pagination-controls style="font-size: 100%;"
        (pageChange)="p = $event"
        nextLabel="Suivants"
        previousLabel="Précedents"
        [responsive]="responsive"
      ></pagination-controls>
    </div>
  </div>
</ion-content>
