ion-card-subtitle{
    text-align: center;
    color: black;
}
.tit{
    text-align: center;
    font-family: "Poppins, Roboto";
    font-size: large;
}
.crd{
    background-color: #F6F0F0;
}
.ig{
    margin-left: 5px;
}



